body{
    background-image: url(../Images/newbackground.jpg);
    /* perspective: 100px; */
    background-size: 50%;
    
    
}

#title{
    font-family: 'Damion', cursive;
    font-size: 3em;
    text-align: center;
    display: flex;
    
}



#navbar{
    height: 100px;
    background-color: white;
    border-bottom: 2px solid black;
}

#buttons{
    text-align: right;
}

#insta{
    cursor: pointer;
    
}

.card-pic{
    border-radius: 25px;
    box-shadow: 10px 10px 10px lightgray;
    margin: 0 auto;
    cursor: pointer;
    margin: 20px;  
}

#images{
    /* width:75%;
    border: 2px solid black;
    margin: 0 auto; */
    /* display: flex;
    justify-content:space-between; */
    /* border: 2px solid black; */
    width: 75%;
    margin: 0 auto;
    text-align: center;
    

}

#about-box{
    border: 2px solid black;
    width: 100%;
    margin: 30px;
    margin: 0 auto;
    padding: 25px;
    background-image: url(../Images/bio.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 25px;
}

#prof-image{
    margin: 0 auto;
    border-radius: 25px;
    border: 5px solid black;
    
}

#word-bio{
    text-align: center;
}

#prof-picture{
    border-radius: 20px;
}

#contact-box{
    border: 2px solid black;
    width: 90%;
    margin: 0 auto;
    margin-top: 25px;
    border-radius: 25px;

    
}

#column{
    margin: 0 auto;
   
}

/*==============================MEDIA QUERY============================= */

/*===========================================*/
@media only screen and (max-width: 600px) {
    body{
        background-image: url(../Images/newbackground.jpg);
        /* perspective: 100px; */
        background-size: 100%;
        
        
    }

    #title{
        font-family: 'Damion', cursive;
        font-size: 1.75em;
    }
    
    #navbar{
        height: 100px;
        background: white;
        border-bottom: 2px solid black;
    }

    nav{
        background: white;
    }

    #logo-nav{
        width: 50px;
        height: 50px;
    }

    #name-nav{
        width: 215px;
        height: 80px;


    }
    
    #buttons{
        text-align: right;
    }
    
    #insta{
        cursor: pointer;
        margin-left: auto;
        
    }
    
    .card-pic{
        
        border-radius: 25px;
        box-shadow: 10px 10px 10px lightgray;
        margin: 0 auto;
        margin: 10px;
        cursor: pointer;
        height: 100px;
        width: 100px;
        display: flex;
        
        
        
    }
    
    #images{
        /* width:75%;
        border: 2px solid black;
        margin: 0 auto; */
        /* display: flex;
        justify-content:space-between; */
        /* border: 2px solid black; */
        width: 75%;
        
    
    }
    
    #about-box{
        border: 2px solid black;
        width: 100%;
        margin: 30px;
        margin: 0 auto;
        padding: 25px;
        background-image: url(../Images/bio.jpg);
        background-repeat: no-repeat;
        background-size: 175%;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
    }
    
    #prof-image{
        margin: 0 auto;
        border-radius: 25px;
        border: 5px solid black;
        height: 105px;
        width: 100px;
        

        
        
        
    }
    #prof-picture{
        border-radius: 20px;
        height: 95px;
        width: 90px;
        margin: 0 auto;
    }

    #word-bio{
        text-align: left;
    }

    

    #bio{
        display: inline-block;
        
        
    }
    
    #contact-box{
        border: 2px solid black;
        width: 100%;
        margin: 0 auto;
        margin-top: 25px;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
    
        
    }
    




}

/*========================MEDIA Query================================*/
